.react-calendar {
  border: none;
  border-radius: 8px;
  overflow: hidden;
  font-family: Pretendard;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  color: #C4C4C4;
}

.react-calendar__tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60px;
  border-radius: 4px;
  box-sizing: border-box;
}

.react-calendar__tile.emoji {
  font-weight: 700;
  font-size: 8px;
  line-height: 16px;
  text-align: center;
}

.react-calendar__tile--active {
  background-color: #f0f0f0;
}

.react-calendar__tile--now {
  border: 5px solid #E46E80 !important;
  color: #E46E80 !important;
  background: none;
}

.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: #373737;
}

.react-calendar__navigation__label {
  flex: 1;
  text-align: left;
}

.react-calendar__navigation__arrow {
  order: 2;
}

.react-calendar__month-view__days__day--weekend {
  color: #C4C4C4;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #C4C4C4;
}

.emotion-happy-selected .emoji-container img {
  box-shadow: inset 0 0 0 3px #48BB98;
}

.emotion-love-selected .emoji-container img {
  box-shadow: inset 0 0 0 3px #FBC85B;
}

.emotion-worry-selected .emoji-container img {
  box-shadow: inset 0 0 0 3px #8E80E3;
}

.emotion-sad-selected .emoji-container img {
  box-shadow: inset 0 0 0 3px #5195EE;
}

.emotion-angry-selected .emoji-container img {
  box-shadow: inset 0 0 0 3px #E46E80;
}

@media (min-width: 744px) {
  .emotion-happy-selected .emoji-container img {
    box-shadow: inset 0 0 0 4px #48BB98;
  }

  .emotion-love-selected .emoji-container img {
    box-shadow: inset 0 0 0 4px #FBC85B;
  }

  .emotion-worry-selected .emoji-container img {
    box-shadow: inset 0 0 0 4px #8E80E3;
  }

  .emotion-sad-selected .emoji-container img {
    box-shadow: inset 0 0 0 4px #5195EE;
  }

  .emotion-angry-selected .emoji-container img {
    box-shadow: inset 0 0 0 4px #E46E80;
  }
}


.react-calendar__navigation button.react-calendar__navigation__label {
  pointer-events: auto;
}


.no-hover:hover {
  background-color: inherit !important;
  color: inherit !important;
  cursor: default !important;
}

.react-calendar__tile {
  pointer-events: none;
}

.react-calendar__tile:hover {
  background-color: inherit;
  color: inherit;
  cursor: default;
}

.react-calendar__tile {
  pointer-events: none;
  user-select: none; 
}

.react-calendar__tile:hover {
  background-color: inherit;
  color: inherit;
  cursor: default;
}

.react-calendar {
  user-select: none;
}