textarea {
  box-sizing: border-box;
  overflow-y: overlay;
}

textarea::-webkit-scrollbar {
  width: 20px;
}

textarea::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  border: 9px solid transparent;
  background-clip: content-box;
}

textarea::-webkit-scrollbar-thumb:hover {
  background: #555;
  background-clip: content-box;
}

textarea::-webkit-scrollbar-button {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  font-family: 'Pretendard', sans-serif !important;
  font-size: 1rem !important;
  line-height: 1.5rem !important;
  color: #050505 !important;
}

@media (min-width: 744px) {
  input:-webkit-autofill {
    font-size: 1.25rem !important;
    line-height: 1.625rem !important;
  }
}
